body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Following code are custom CSS */

/* CSS animation for underline of the navigation links in nav */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.2rem;
  width: 100%;
  height: 3px;
  width: 100%;
  background: white;
  scale: 0 1;
  transition: scale .25s;
}

/* Will show the underline of the navigation link on hover */
.nav-link:hover::after {
  scale: 1 1;
}

/* Display underline on active navigation */
.active::after {
  scale: 1 1;
}

.home-container {
  background-color: #aba2a2;
}

.home-contents {
  margin-top: -15em;
}

.logo {
  z-index: 1;
  width: 400px;
  animation: spin 20s infinite linear;
  pointer-events: none;
}

.btnCheckout {
  text-transform: uppercase;
}

/* Define keyframes for spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.filler-header {
  width: 100px;
}